body {
  color: #28AAE2;
  font-family: 'Oswald';
  margin: 0px;
}

ul {
  margin-bottom: 100px;
  border-radius: 100px;
  text-align: center;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
}
